@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col">
        columna 1
    </div>

    <div class="col">
        columna 2
    </div>

    <div class="col">
        columna 3
    </div>

</div>
<div class="row">

    <div class="col-2">
        columna 1
    </div>

    <div class="col-8">
        columna 2
    </div>

    <div class="col-2">
        columna 3
    </div>

</div>

<h2>Ejemplo: Vertical</h2>

<div class=row>
    <div class="col-sm-4">
        Columna 1
    </div>
    <div class="col-sm-4">
        Columna 1
    </div>
    <div class="col-sm-4">
        Columna 1
    </div>

</div>

<h4>Ejemplo 1: Alineado la fila </h4>

<div class="row align-items-center">
    <div class="col">
        columna 1
    </div>
    <div class="col">
        columna 1
    </div>
    <div class="col">
        columna 1
    </div>
</div>
<div class="row align-items-end">
    <div class="col">
        columna 1
    </div>
    <div class="col">
        columna 1
    </div>
    <div class="col">
        columna 1
    </div>
</div>

<div class="row align-items-start">
    <div class="col">
        columna 1
    </div>
    <div class="col">
        columna 1
    </div>
    <div class="col">
        columna 1
    </div>
</div>
<h4>Ejemplo 2: alineado las columnas horizontalmente</h4>

<div class="row">
    <div class="col align-self-start">
        columna 1
    </div>
    <div class="col align-self-center">
        columna 1
    </div>
    <div class="col align-self-end">
        columna 1
    </div>
</div>

<h4>Ejemplo 3: offset</h4>
<div class="row">
    <div class="col-3">columna 1</div>
    <div class="col-4 offset-5">columna 2</div>
</div>

<h4>Ejemplo 4: Auto Margen</h4>
<div class="row">
    <div class="col-4">columna 1</div>
    <div class="col-4 ms-auto">columna 2</div>
</div>