@{
    ViewData["Title"] = "Home Page";
}

<h4>Ejemplo 1: Imagenes en columnas </h4>

<div class="row gy-3">
<div class="col-sm-3">
<img class="img-fluid" src="https://i.blogs.es/043eb6/guts/1366_2000.jpeg" />
</div>
<div class="col-sm-3">
<img class="img-fluid" src="https://i.blogs.es/043eb6/guts/1366_2000.jpeg" />
</div>
<div class="col-sm-3">
<img class="img-fluid" src="https://i.blogs.es/043eb6/guts/1366_2000.jpeg" />
</div>
<div class="col-sm-3">
<img class="img-fluid" src="https://i.blogs.es/043eb6/guts/1366_2000.jpeg" />
</div>
</div>

<h4>Ejemplo 2: imagen tipo thumnail</h4>
<img class="img-thumbnail rounded-circle"
src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLcU6Oet4XdE80LgedIHvNieyvec68fr3_aoJ-n6U-pQ&s">


<div>
<button class="btn btn-primary">Botón primario</button>
</div>

<div class="p-3 ab-2 bg-primary text-white">.bg-primary</div>

<div class="p-3 ab-2 bg-primary bg-gradient text-white">.bg-primary con gradientes</div>

<div class="p-3 ab-2 bg-secondary text-white">.bg-secondary</div>

<div class="p-3 ab-2 bg-secondary bg-gradient text-white">.bg-secondary con gradiente</div>

<div class="p-3 ab-2 bg-success text-white">.bg-success</div>

<div class="p-3 ab-2 bg-success bg-gradient text-white">.bg-success con gradientes</div>

<div class="p-3 ab-2 bg-danger text-white">.bg-danger</div>

<div class="p-3 ab-2 bg-danger bg-gradient text-white">.bg-danger con gradientes</div>

<div class="p-3 ab-2 bg-warning text-dark">.bg-warning</div>

<div class="p-3 ab-2 bg-warning bg-gradient text-dark">.bg-warning con gradientes</div>

<div class="p-3 ab-2 bg-info text-dark">.bg-info</div>

<div class="p-3 ab-2 bg-info bg-gradient text-dark">.bg-info con gradiente</div>
